<footer class="w-full max-w-7xl mx-auto px-8 py-20">
    <div class="mb-1 text-lg">
        <span>Handcrafted by <b>Josemi</b> in Valencia, Spain.</span>
    </div>
    <div class="text-sm opacity-60">
        <span>Last built on <b>{{site.build.date}}</b>.</span>
    </div>
</footer>
