<footer class="py-32">
    {{#if site.footer.links}}
    <div class="flex items-center gap-4 mb-8">
        {{#each site.footer.links}}
        <a class="hover:underline text-gray-950" href="{{url}}" target="_blank">
            <span>{{text}}</span>
        </a>
        {{#unless @last}}
        <div class="text-gray-950 text-xs">•</div>
        {{/unless}}
        {{/each}}
    </div>
    {{/if}}
    <div class="mb-1">{{!site.footer.text}}</div>
    <div class="text-sm">
        <span>Last built on <b>{{site.build.date}}</b>.</span>
    </div>
</footer>
