<header class="py-6 px-8">
    <a class="inline-flex items-center gap-2 hover:underline font-bold text-xl" href="/">
        <div class="flex items-center text-2xl">
            {{=icon icon="arrow-left"}}
        </div>
        <span>josemi.xyz</span>
    </a>
</header>
