<script type="importmap">
    {
        "imports": {
            "@josemi-icons/react": "/vendor/icons.esm.js",
            "classnames": "/vendor/classnames.esm.js",
            "codecake": "/vendor/codecake.js",
            "lz-string": "/vendor/lz-string.esm.js",
            "mikel": "/vendor/mikel.esm.js",
            "react": "/vendor/react.esm.js",
            "react-dom": "/vendor/react-dom.esm.js",
            "react-dom/client": "/vendor/react-dom-client.esm.js",
            "@josemihq/ui": "/assets/ui.js",
            "@josemihq/form": "/assets/form.js",
            "@josemihq/fiddle": "/assets/fiddle.js",
            "@josemihq/router": "/assets/router.js"
        }
    }
</script>
