<!doctype html>
<html lang="en" style="overscroll-behavior-x:none;" class="bg-neutral-50">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="title" content="{{site.title}}">
    <meta name="description" content="{{site.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:description" content="{{site.description}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/vendor/low.css">
    <link rel="stylesheet" href="/vendor/highlight.css">
    <title>{{page.attributes.title}} - josemi.xyz</title>
    <script type="importmap">
        {
            "imports": {
                "mikel": "/vendor/mikel.esm.js",
                "react": "/vendor/react.esm.js",
                "react-dom": "/vendor/react-dom.esm.js",
                "react-dom/client": "/vendor/react-dom-client.esm.js"
            }
        }
    </script>
</head>
<body class="m-0 p-0 font-inter leading-normal text-neutral-900">
{{#eq page.attributes.layout "empty"}}
{{!@content}}
{{/eq}}
{{#ne page.attributes.layout "empty"}}
    <header class="w-full max-w-4xl mx-auto px-6 sm:px-12 py-8 flex items-center justify-between">
        <a class="flex items-center hover:underline font-medium text-lg" href="/">
            <span>josemi</span>
        </a>
        {{#if site.navbar.links}}
        <div class="flex items-center gap-4">
            {{#each site.navbar.links}}
            <a class="hover:underline" href="{{url}}">{{text}}</a>
            {{/each}}
        </div>
        {{/if}}
    </header>
    <main class="w-full max-w-4xl mx-auto px-6 sm:px-12 py-8">
        {{#eq page.attributes.layout "page"}}
        {{>page-header.html title=page.attributes.title description=page.attributes.description date=page.attributes.date}}
        {{/eq}}
        {{!@content}}
    </main>
    <footer class="w-full max-w-4xl mx-auto px-6 sm:px-12 py-12">
        {{#if site.footer.links}}
        <div class="flex items-center gap-2 mb-6">
            {{#each site.footer.links}}
            <a class="hover:underline text-neutral-700" href="{{url}}" target="_blank">
                <span>{{text}}</span>
            </a>
            <div class="last:hidden text-neutral-700 text-xs">•</div>
            {{/each}}
        </div>
        {{/if}}
        <div class="text-sm mb-1">{{!site.footer.text}}</div>
        <div class="text-xs text-neutral-600">
            <span>Last built on <b>{{site.build}}</b>.</span>
        </div>
    </footer>
{{/ne}}
</body>
</html>
