<!doctype html>
<html lang="en" style="overscroll-behavior-x:none;" class="bg-neutral-50">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="title" content="{{page.attributes.title}}">
    <meta name="description" content="{{page.attributes.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:description" content="{{page.attributes.description}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/vendor/codecake.css">
    <link rel="stylesheet" href="/vendor/highlight.css">
    <link rel="stylesheet" href="/vendor/low.css">
    <title>{{page.attributes.title}}</title>
    {{>imports.html}}
</head>
<body class="m-0 p-0 font-inter leading-normal text-quartz-500 bg-neutral-100 font-medium">
    {{!@content}}
</body>
</html>
