{{>>layout.html}}
<div class="w-full max-w-5xl mx-auto p-6">
    <header class="py-12">
        <a class="flex items-center hover:underline font-bold text-3xl" href="/notes.html">
            <span>josemi/notes</span>
        </a>
        <div class="text-xl font-medium">
            <span>Notes about React, minimal design, and gaming.</span>
        </div>
    </header>
    <main class="py-10">
        {{#eq page.attributes.layout "page"}}
        {{>page-header.html title=page.attributes.title description=page.attributes.description date=page.attributes.date}}
        {{/eq}}
        {{!@content}}
    </main>
    {{>footer.html}}
</div>
{{/layout.html}}
