---
{
    "title": "not found",
    "layout": "default.mustache",
    "permalink": "/404.html",
    "links": [
        {"text": "home", "url": "/"},
        {"text": "github", "url": "https://githib.com/jmjuanes"}
    ]
}
---
<div class="">
    <div class="text-4xl sm:text-6xl mb-4">
        <span><b>404</b> | not found</span>
    </div>
    <div class="mb-8 max-w-2xl text-xl text-gray-800">
        It looks like you have followed a broken link or entered a URL 
        that does not exist in my website.
    </div>
    <div class="flex flex-wrap gap-8 mt-8">
        {{#each page.attributes.links}}
        <a class="flex items-center gap-1 hover:underline decoration-2 underline-offset-2" href="{{url}}">
            <span class="text-xl font-bold">{{text}}</span>
            <div class="flex items-center text-2xl">{{=icon icon="arrow-right"}}</div>
        </a>
        {{/each}}
    </div>
</div>
