---
{
    "title": "Josemi Juanes | React Developer and Minimal Design Lover",
    "layout": "default.mustache",
    "permalink": "/index.html",
    "links": [
        {"text": "github", "url": "https://github.com/jmjuanes"},
        {"text": "linkedin", "url": "https://linkedin.com/in/jmjuanes"}
    ]
}
---
<main class="w-full max-w-7xl mx-auto p-8">
    <section class="py-24 sm:py-40">
        <div class="text-4xl sm:text-6xl lg:text-8xl font-black mb-8 sm:mb-12 tracking-tight leading-none">
            <span>hey, I'm Josemi.</span>
        </div>
        <div class="text-3xl sm:text-5xl leading-snug mb-6">
            <span>I'm a passionate <b>mathematician</b> turned <b>React</b> developer </span>
            <span>that loves to craft minimal, beautiful, and performant user interfaces.</span>
        </div>
        {{#if page.attributes.links}}
        <div class="flex flex-col md:flex-row flex-wrap gap-8 mt-10">
            {{#each page.attributes.links}}
            <a class="flex items-center gap-1 hover:underline decoration-4 underline-offset-2" href="{{url}}">
                <span class="text-3xl sm:text-4xl font-bold lowercase">{{text}}</span>
                <div class="flex items-center text-4xl sm:text-5xl">{{=icon icon="arrow-right"}}</div>
            </a>
            {{/each}}
        </div>
        {{/if}}
    </section>
    {{>>section.mustache title="Projects"}}
        <div class="flex flex-col gap-12">
        {{#each site.data.projects}}
            {{>link.mustache title=this.name description=this.description date=this.date url=this.url}}
            <!--
            <div class="flex flex-col md:flex-row items-start gap-4">
                <div class="w-full md:max-w-56 shrink-0">
                    <div class="text-2xl font-bold leading-tight mb-2">{{this.name || this.title}}</div>
                    {{#if this.date}}
                    <div class="text-base text-gray-800 italic">{{this.date}}</div>
                    {{/if}}
                </div>
                <div class="grow-1">
                    <div class="text-gray-800 text-xl text-justify leading-relaxed">{{description}}</div>
                    {{#if links}}
                    <div class="flex flex-col sm:flex-row flex-wrap gap-4 mt-6">
                        {{#each links}}
                        <a class="flex items-center gap-1 hover:underline decoration-2 underline-offset-1" href="{{url}}">
                            <span class="text-lg font-bold lowercase">{{text}}</span>
                            <div class="flex items-center text-xl">
                                {{=icon icon="arrow-right"}}
                            </div>
                        </a>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </div>
            -->
        {{/each}}
        </div>
    {{/section.mustache}}
    {{>>section.mustache title="Notes - Thoughts and Ideas"}}
        <div class="flex flex-col gap-8">
        {{#pages collection="notes" limit=4}}
            {{>link.mustache title=this.attributes.title description=this.attributes.description date=this.attributes.date url=this.url}}
            <!--
            <div class="flex flex-col md:flex-row items-start gap-4">
                <div class="w-full md:max-w-96 shrink-0">
                    <a href="{{this.url}}" class="block text-2xl font-bold leading-tight hover:underline decoration-4 underline-offset-2 mb-2">
                        <span>{{this.attributes.title}}</span>
                    </a>
                    <div class="text-base text-gray-800 italic">{{this.attributes.date}}</div>
                </div>
                <div class="grow-1">
                    <div class="text-gray-800 text-xl text-justify leading-relaxed">
                        {{this.attributes.description}}
                    </div>
                </div>
            </div>
            -->
        {{/pages}}
        </div>
    {{/section.mustache}}
</main>
{{>footer.mustache}}
