---
{
    "title": "Josemi Juanes | React Developer and Minimal Design Lover",
    "layout": "default",
    "links": [
        {"text": "github", "url": "https://github.com/jmjuanes"},
        {"text": "linkedin", "url": "https://linkedin.com/in/jmjuanes"}
    ]
}
---
<div class="w-full max-w-7xl mx-auto p-8">
    <header class="py-24 sm:py-40">
        <div class="text-4xl sm:text-6xl lg:text-8xl font-black mb-8 sm:mb-12 tracking-tight leading-none">
            <span>hey, I'm Josemi.</span>
        </div>
        <div class="text-3xl sm:text-5xl leading-snug mb-6">
            <span>I'm a passionate <b>mathematician</b> turned <b>React</b> developer </span>
            <span>that loves to craft minimal, beautiful, and performant user interfaces.</span>
        </div>
        {{#if page.attributes.links}}
        <div class="flex flex-col md:flex-row flex-wrap gap-8 mt-10">
            {{#each page.attributes.links}}
            <a class="flex items-center gap-1 hover:underline decoration-4 underline-offset-2" href="{{url}}">
                <span class="text-3xl sm:text-4xl font-bold lowercase">{{text}}</span>
                <div class="flex items-center text-4xl sm:text-5xl">{{=icon icon="arrow-right"}}</div>
            </a>
            {{/each}}
        </div>
        {{/if}}
    </header>
    {{#each site.data.projects}}
        {{#if featured}}
            {{>>section.mustache title="Featured Project"}}
                <div class="text-5xl sm:text-7xl font-bold leading-none tracking-tight mb-4">{{name}}</div>
                <div class="text-2xl leading-snug font-medium mb-16 max-w-3xl">{{description}}</div>
                {{#if content}}
                <div class="w-full">
                    {{#each content}}
                    <p class="mb-8 text-gray-800 text-xl text-justify leading-relaxed">{{.}}</p>
                    {{/each}}
                </div>
                {{/if}}
                {{#if links}}
                <div class="flex flex-wrap gap-4 mt-10">
                    {{#each links}}
                    <a class="flex items-center gap-1 hover:underline decoration-2 underline-offset-1" href="{{url}}">
                        <span class="text-xl lowercase font-bold">{{text}}</span>
                        <div class="flex items-center text-2xl">{{=icon icon="arrow-right"}}</div>
                    </a>
                    {{/each}}
                </div>
                {{/if}}
            {{/section.mustache}}
        {{/if}}
    {{/each}}
    {{>>section.mustache title="Open Source Projects"}}
        <div class="flex flex-col gap-12">
        {{#each site.data.projects}}
            {{#unless featured}}
            <div class="flex flex-col md:flex-row items-start gap-4">
                <div class="w-full md:max-w-56 shrink-0">
                    <div class="text-2xl font-bold leading-tight mb-2">{{name}}</div>
                    {{#if date}}
                    <div class="text-base text-gray-800 italic">{{date}}</div>
                    {{/if}}
                </div>
                <div class="grow-1">
                    <div class="text-gray-800 text-xl text-justify leading-relaxed">{{description}}</div>
                    {{#if links}}
                    <div class="flex flex-col sm:flex-row flex-wrap gap-4 mt-6">
                        {{#each links}}
                        <a class="flex items-center gap-1 hover:underline decoration-2 underline-offset-1" href="{{url}}">
                            <span class="text-lg font-bold lowercase">{{text}}</span>
                            <div class="flex items-center text-xl">
                                {{=icon icon="arrow-right"}}
                            </div>
                        </a>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/unless}}
        {{/each}}
        </div>
    {{/section.mustache}}
    {{>>section.mustache title="Notes - Thoughts and Ideas"}}
        <div class="flex flex-col gap-8">
        {{#each site.pages}}
        {{#eq this.attributes.collection "notes"}}
            <div class="flex flex-col md:flex-row items-start gap-4">
                <div class="w-full md:max-w-96 shrink-0">
                    <a href="{{this.url}}" class="block text-2xl font-bold leading-tight hover:underline decoration-4 underline-offset-2 mb-2">
                        <span>{{this.attributes.title}}</span>
                    </a>
                    <div class="text-base text-gray-800 italic">{{this.attributes.date}}</div>
                </div>
                <div class="grow-1">
                    <div class="text-gray-800 text-xl text-justify leading-relaxed">
                        {{this.attributes.description}}
                    </div>
                </div>
            </div>
        {{/eq}}
        {{/each}}
        </div>
    {{/section.mustache}}
    <footer class="py-20">
        <div class="mb-1 text-gray-800 text-sm">
            <span>Handcrafted by <b>Josemi</b> in Valencia, Spain.</span>
        </div>
        <div class="text-gray-600 text-xs">
            <span>Last built on <b>{{site.build.date}}</b>.</span>
        </div>
    </footer>
</div>
