/* resume page container */
.resume {
    background: #fff;
    display: block;
    margin: 4rem auto;
    max-width: 21cm;
    width: 100%;
}

/* Print version hidden content */
@media print {
    body {
        margin: 0 !important;
        padding: 0 !important;
    }
    .resume{
        box-shadow: none;
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
    .resume-info,
    .resume-separator,
    .site-header,
    .site-footer {
        display: none;
    }
}
