<!doctype html>
<html lang="en" style="overscroll-behavior-x:none;" class="bg-white">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="title" content="{{site.title}}">
    <meta name="description" content="{{site.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:description" content="{{site.description}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/vendor/highlight.css">
    <link rel="stylesheet" href="/vendor/low.css">
    <title>{{page.attributes.title}}</title>
</head>
<body class="m-0 p-0 font-sans leading-normal text-gray-950">
    <header class="w-full max-w-6xl mx-auto px-8 py-6 flex items-center justify-between gap-4">
        <a href="/" class="text-2xl font-bold leading-tight underline decoration-2 underline-offset-4 hover:opacity-60">
            <span>josemi.</span>
        </a>
    </header>
    <main class="w-full max-w-6xl mx-auto px-8 py-16">
        {{!@content}}
    </main>
    <footer class="w-full max-w-6xl mx-auto px-8 py-20">
        <div class="mb-1 text-lg">
            <span>Handcrafted by <b>Josemi</b> in Valencia, Spain.</span>
        </div>
        <div class="text-sm">
            <span>Last built on <b>{{site.build.date}}</b>.</span>
        </div>
    </footer>
</body>
</html>
