<!doctype html>
<html lang="en" style="overscroll-behavior-x:none;" class="bg-neutral-50">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="title" content="{{page.attributes.title}}">
    <meta name="description" content="{{page.attributes.description}}">
    {{#each page.attributes.head}}
    <{{this.tag}}{{#each this.properties}} {{@key}}="{{@value}}"{{/each}}>
    {{/each}}
    <title>{{page.attributes.title}}</title>
</head>
<body class="m-0 p-0 leading-normal {{page.attributes.bodyClassName}}" style="{{page.attributes.bodyStyle}}">
    {{!@content}}
</body>
</html>
