---
{
    "colors": []
}
---
<div class="w-full mx-auto max-w-8xl">
{{#each this.elements}}
    {{#eq this.type "heading"}}
    <div class="">
        <span>{{this.text}}</span>
    </div>
    {{/eq}}
    {{#eq this.type "paragraph"}}
    <div class="text-base mb-4">
        <span>{{this.text}}</span>
    </div>
{{/each}}
</div>
