---
{
    "title": "My Projects",
    "description": "A collection of my open source projects.",
    "layout": "page.mustache",
    "permalink": "/projects.html"
}
---
<div class="flex flex-col gap-12">
{{#each site.data.projects}}
    <div class="flex flex-col gap-2">
        {{#if this.date}}
        <div class="text-base text-gray-600 italic">{{this.date}}</div>
        {{/if}}
        <a href="{{this.url}}" class="block text-2xl leading-tight underline decoration-2 underline-offset-2 hover:opacity-60">
            <span class="font-bold">{{this.name}}</span>
        </a>
        {{#if this.description}}
        <div class="text-gray-800 text-xl text-justify leading-relaxed">{{this.description}}</div>
        {{/if}}
        {{#if this.links}}
        <div class="flex flex-col sm:flex-row flex-wrap gap-4 mt-0">
            {{#each this.links}}
            <a class="flex items-center gap-1 hover:underline decoration-2 underline-offset-1" href="{{this.url}}">
                <span class="text-lg font-bold lowercase">{{this.text}}</span>
                <div class="flex items-center text-xl">
                    {{=icon icon="arrow-right"}}
                </div>
            </a>
            {{/each}}
        </div>
        {{/if}}
    </div>
{{/each}}
</div>
