---
{
    "title": "My Projects",
    "description": "A collection of my open source projects.",
    "layout": "page.mustache",
    "permalink": "/projects.html"
}
---
<div class="flex flex-col gap-8">
{{#each site.data.projects}}
    {{>link.mustache date=this.date url=this.url title=this.name description=this.description}}
{{/each}}
</div>
